
<!--
TODO Read links from some configuration file
-->

<!--

<div class="site-sidebar">
  <ul>
    <li><a class="page-link" href="/">Home</a></li>
    <li>Discord Server</li>
    <ul>
      <li><a class="page-link" href="https://discord.gg/ZPErMGW">Invite</a></li>
      <li><a class="page-link" href="/code-of-conduct/">Code of conduct</a></li>
      <li><a class="page-link" href="/moderation/">Moderation</a></li>
    </ul>
    <li><a class="page-link" href="/conferences/">Conferences and Events</a></li>
    <ul>
      <li><a class="page-link" href="/conferences/attending-conferences/">Attending</a></li>
      <li><a class="page-link" href="/conferences/scholarships/">Scholarships</a></li>
      <li><a class="page-link" href="/conferences/organising-conferences/">Organising</a></li>
      <li><a class="page-link" href="https://github.com/include-cpp/toolboxes">Toolbox</a></li>
    </ul>
    <li><a class="page-link" href="/shop/">Shop</a></li>
    <ul>
      <li><a class="page-link" href="https://shop.spreadshirt.com/includecpp">US store</a></li>
      <li><a class="page-link" href="https://shop.spreadshirt.net/includecpp">European store</a></li>
    </ul>
    <li><a class="page-link" href="/resources/">Resources</a></li>
  </ul>
</div>

-->
